.name {
    text-align: center;
}
.navbar {
    overflow: hidden;
    background-color:  #333;
}
.navbar a {
    float: right;
    display: block;
    color: yellow;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
.navbar hover {
    background-color: yellow;
    color: black;
}

.column {
    width: 50% ;
    float: left;
   

}
img {
    width: 600px;
}
ul {
    list-style: none;
}
.proj {
    font-size: 180%;
}
@media screen and (min-width: 480px) and (max-width: 768px){
    body {
        background-color: maroon;
        color: white;
        
    }
    h1{
        color: black;
    }
    .navbar a {
        color: maroon;
    }
    
}
@media screen and (min-width: 768px){
    body {
        background-color: rgb(73, 73, 73);
        color: rgb(0, 0, 0);
    }
    h1 {
        color: maroon;
    }
    .navbar a {
        color: white;
    }
    
}
